.SchemaContainer {
    display: grid;
    grid-template-rows: repeat(4, auto); /* Deux lignes ajustées automatiquement */
    grid-auto-columns: 1.5em;
    grid-auto-flow: column; /* Remplissage en colonnes */
    width: 50%; /* Assure que la largeur totale est utilisée */
    margin: 0;
    height: 100px;
  }
  
  .SchemaItem {
    border: 1px solid rgba(0, 0, 0, 0.6); /* Pour visualiser les blocs */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SchemaTop {
    display: block;
  }
  .SchemaBottom {
display: block;
  }
  .latexAccoladeBottom {
  position: relative;
  }

  .latexAccoladeTop {
    position: relative;
  }

  .braceTop {
    width: 100%;
    height: 20px;
    position: relative;
    left: 50%;
    margin-left: -50%;
    margin-top: 0px;
  }
  .braceTopLeft {
    width: 50%;
    height: 20px;
    position: absolute;
  }
  .braceTopRight {
    width: 50%;
    height: 20px;
    position: absolute;
    margin-left: 50%;
  }

  .curlTopLeftLeft {
    width: 20%;
    height: 10px;
    position: absolute;
    border-top: 2px solid;  
    border-top-left-radius: 10px;
    margin-top: 10px;
  }
  .curlTopLeftRight {
    width: 20%;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid;  
    border-bottom-right-radius: 10px;
    margin-top: 2px;
    margin-left: 80%;
  }
  .lineTopLeftMiddle {
    width: 60%;
    height: 10px; 
    position: absolute; 
    border-top: 2px solid;
    margin: 10px 20% 0 20%;
  }
  .lineTopRightMiddle {
    width: 60%;
    height: 10px; 
    position: absolute; 
    border-bottom: 2px solid;
    margin: 2px 20% 0 20%;
  }
  .curlTopRightLeft {
    width: 20%;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid;  
    border-bottom-left-radius: 10px;
    margin-top: 2px;
  }
  .curlTopRightRight {
    width: 20%;
    height: 10px;
    position: absolute;
    border-top: 2px solid;  
    border-top-right-radius: 10px;
    margin-top: 10px;
    margin-left: 80%;
  }
  .braceBottom {
    width: 100%;
    height: 20px;
    position: relative;
    left: 50%;
    margin-left: -50%;
    margin-top: 0px;
  }
  .braceBottomLeft {
    width: 50%;
    height: 20px;
    position: absolute;
  }
  .braceBottomRight {
    width: 50%;
    height: 20px;
    position: absolute;
    margin-left: 50%;
  }
 
  .curlBottomLeftLeft {
    width: 20%;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid;  
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
  }
  .curlBottomLeftRight {
    width: 20%;
    height: 10px;
    position: absolute;
    border-top: 2px solid;  
    border-top-right-radius: 10px;
    margin-top: 8px;
    margin-left: 80%;
  }
  .lineBottomLeftMiddle {
    width: 60%;
    height: 10px; 
    position: absolute; 
    border-bottom: 2px solid;
    margin: 0 20% 0 20%;
  }
  .lineBottomRightMiddle {
    width: 60%;
    height: 10px; 
    position: absolute; 
    border-bottom: 2px solid;
    margin: 0 20% 0 20%;
  }
  .curlBottomRightLeft {
    width: 20%;
    height: 10px;
    position: absolute;
    border-top: 2px solid;  
    border-top-left-radius: 10px;
    margin-top: 8px;
  }
  .curlBottomRightRight {
    width: 20%;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid;  
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-left: 80%;
  }
